body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
 font-family: 'Fredoka One', cursive;
}
body .contenedor {
    max-width: 600px;
    height: 100%;
    background-color: white;
    padding: 5%;
    font-family: 'Fredoka One', cursive;
}
h1 {text-align: center; font-weight: bold;}
ul {font-weight: lighter;}
span{float: right;}
